<div class="container">
<h2 class="form-signin-heading">Log in</h2>

<%= form_tag sessions_path do %>
  <%= label_tag :email, nil, :class => "sr-only" %>
  <%= text_field_tag :email, nil,  :id => "inputEmail", :class => "form-control", :placeholder => "Почта" %>
    <%= label_tag :password, nil, :class => "sr-only"%>
    <%= password_field_tag :password, nil,:id => "inputPassword", :class => "form-control", :placeholder => "Пароль" %><br>
  <p class="button"><%= submit_tag "Войти", :class => "btn btn-lg btn-primary btn-block" %></p>
<% end %>

</div>
