<div class="container">
<%= form_for(@article) do |f| %>
<% if current_user.role == "admin" %>
	<%= f.label :pro %>
	<%= f.check_box :pro %>
<% end %>
<%= f.label :name, :class => "sr-only" %>
<%= f.text_field :name, :class => "form-control", :placeholder => "Название" %><br>
<%= f.label :description, :class => "sr-only" %>
<%= f.text_area :description, :class => "form-control", :placeholder => "Описание", :rows => "5" %><br>
<%= f.file_field :image %>
<%= f.submit "Отправить", :class => "btn btn-default" %>
<% end %>
</div>