<div class="container">
<h2 class="form-signin-heading">Зарегистрироваться</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <%= f.label :email , :class => 'sr-only' %>
    <%= f.email_field :email, autofocus: true, :id => "inputEmail", :class => "form-control", :placeholder => "Email address" %>
    <%= f.label :password , :class => 'sr-only' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", :id => "inputPassword", :class => "form-control", :placeholder => "Password" %>

    <%= f.label :password_confirmation , :class => 'sr-only' %>
    <%= f.password_field :password_confirmation, autocomplete: "off", :id => "inputPassword", :class => "form-control", :placeholder => "Password confirmation" %>
    <%= f.label :name , :class => 'sr-only' %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Name" %>
    <%= f.label :last_name , :class => 'sr-only' %>
    <%= f.text_field :last_name, :class => "form-control", :placeholder => "Last name" %>
    <%= f.label :dob , :class => 'sr-only' %>
    <%= f.date_select :dob, :class => "form-control" %>
    <%= f.label :avatar , :class => 'sr-only' %>
    <%= f.file_field :avatar %>
    <%= f.label :passport_image , :class => 'sr-only' %>
    <%= f.file_field :passport_image %>
  <div class="actions">
   <%= f.submit 'Sign up',  :class => "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
