<!DOCTYPE html>
<html>
<head>
  <title>ShopSkillgrid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><%= link_to "Публикации", articles_path %></li>
  <% if current_user %>
    <li role="presentation"><%= link_to "Выйти", log_out_path %></li>
        <li role="presentation"><%= link_to "Новая статья", new_article_path %></li>
  <% else %>
    <li role="presentation"><%= link_to "Регистрация", sign_up_path %></li>
     <li role="presentation"><%= link_to "Войти", log_in_path %></li>
  <% end %>
         </ul>
        </nav>
    </div>
   </div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
