<!DOCTYPE html>
<html>
<head>
  <title>ShopSkillgrid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :application %>
</head>
<body>

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><%= link_to "Публикации", articles_path %></li>
  <% if current_user %>
    <li role="presentation"><%= link_to "Выйти", destroy_user_session_path, :method => :delete %></li>
    <% if can? :create, @article%>
        <li role="presentation"><%= link_to "Новая статья", new_article_path %></li>
    <% end %>
  <% else %>
    <li role="presentation"><%= link_to "Регистрация", new_user_registration_path %></li>
     <li role="presentation"><%= link_to "Войти", new_user_session_path %></li>
  <% end %>
         </ul>
        </nav>
    </div>
   </div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>
